<div class="container">
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>版本号</th>
      <th>时间</th>
    </tr>
    <% @services.each do |service| %>
    <tr>
      <td><%= link_to service.id, service %></td>
      <!-- <td><a href="<%= service_path(service.id) %>">hi</a></td> -->
      <td><%= service.name %></td>
      <td><%= service.tag %></td>
      <td><%= service.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <% end %>
  </table>
</div>
